@import "resources.scss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
@import url("https://unpkg.com/pageable@latest/dist/pageable.min.css");
html {
  * {
    font-family: "Cormorant Garamond", serif;
  }
  [data-aos] {
    opacity: 0;
  }
  .pg-vertical {
    .pg-pips {
      @include media(maxTablet) {
        top: -20px;
        right: 50%;
        transform: translateX(50%) rotate(270deg);
      }
      ul {
        li {
          a {
            background-color: $color-purple-d;
            transition: all 0.1s linear;
            &.active {
              height: 9px;
              width: 9px;
              margin: -5px 0px 0px -5px;
            }
          }
        }
      }
    }
  }
  font-size: 10px;
  body {
    margin: 0;
    #myFullpage {
      height: 100vh;
      .typewriter {
        position: absolute;
        > * {
          overflow: hidden;
          padding-right: 1rem;
          border-right: 2px solid $color-purple-d;
          white-space: nowrap;
          margin: 0 auto;
          animation: typing 0.5s steps(11, end), cursor 0.75s step-end infinite;
          //hide .5s forwards 1.25s;
        }
      }
      h1,
      .h1 {
        font-size: 7.2rem;
        @include media(maxTablet) {
          font-size: 3.2rem;
        }
      }

      .section {
        color: $color-purple-d;
        background-color: $color-purple-l;
        font-size: 3.6rem;
        box-sizing: border-box;
        //height: 100vh !important;

        display: flex;
        padding: 0 3rem;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        position: relative;
        flex-direction: column;
        overflow: hidden;
        &[data-anchor] > [class*="Container"] {
          max-width: 128rem;
        }
        &[data-anchor="about"] {
          .aboutContainer {
            display: none; //temporary
            position: relative;
            width: 100%;
            box-sizing: border-box;

            .textBubble {
              transition: opacity 0.25s linear;
              opacity: 0;
              display: none;
              &:nth-last-child(-n + 3) {
                display: flex;
                opacity: 1;
              }
              width: 100%;

              flex-direction: column;
              &[data-user="1"] {
                box-sizing: border-box;
                left: -60%;
                animation-delay: 2s;
                position: relative;
                animation: flyin-left 0.5s forwards;
                animation-delay: 2s;
                align-items: flex-start;
              }
              &[data-user="2"] {
                text-align: right;
                position: relative;
                right: -60%;
                animation: flyin-right 0.5s forwards;
                animation-delay: 0.5s;
                align-items: flex-end;
              }
              &--text {
                white-space: pre-line;
                font-size: 2.2rem;
                width: auto;
                max-width: 50%;
                color: $color-purple-l;
                background-color: $color-purple-d;
                padding: 3rem;
                border-radius: 2.5rem;
                margin-bottom: 1.6rem;
                transition: all 0.1s linear;
                @include media(maxTablet) {
                  max-width: 75%;
                  font-size: 1.6rem;
                  padding: 1.6rem;
                  margin-bottom: 0.8rem;
                }
                &:after {
                  clear: both;
                }
                &:hover {
                  background-color: rgba($color-purple-d, 0.5);
                }
              }
              &--username {
                @include media(maxTablet) {
                  font-size: 1.6rem;
                }
              }
              .textUsername {
                padding: 0 3rem;
              }
            }
          }
          .textInputContainer {
            width: 33.33%;
            padding: 3rem;
            display: flex;
            position: absolute;
            bottom: 0;
            box-sizing: border-box;
            display: none; //temporary;
            input {
              background: transparent;
              width: 100%;
              border: 0;
              border-bottom: 1px solid rgba($color-purple-d, 0.3);
              transition: all 0.1s linear;
              font-weight: 500;
              font-size: 2.4rem;
              &:focus {
                outline: none;
                border-bottom: 1px solid $color-purple-d;
              }
            }
          }
          .headerContainer {
            padding: 0 3rem;
          }
        }

        &[data-anchor="projects"] {
          background-color: $color-blue-l;
          @include media(maxTablet) {
            text-align: center;
          }
          .cardContainer {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: flex-start;
            padding: 0 3rem;
            width: 100%;
            @include media(maxTablet) {
              gap: 1.6rem;
            }
            .card {
              width: 25%;
              position: relative;
              aspect-ratio: 1;
              max-height: 32rem;
              //height:20rem;
              overflow: hidden;

              &:first-of-type {
                .card--overlay {
                  margin-left: 0;
                }
                img {
                  padding-left: 0;
                }
              }
              &:last-of-type {
                .card--overlay {
                  margin-right: 0;
                }
                img {
                  padding-right: 0;
                }
              }
              @include media(maxTablet) {
                width: calc(50% - 0.86rem);
                max-height: calc(50vw - 3.86rem);
                img {
                  padding: 0;
                }
              }
              &--overlay {
                cursor: pointer;
                display: flex;
                opacity: 0;
                height: 100%;
                top: 50%;
                color: white;
                transform: translateY(-50%);
                box-sizing: border-box;
                background-color: rgba($color-blue-d, 0.6);
                position: absolute;
                width: 100%;
                text-align: center;
                align-items: center;
                justify-content: center;
                transition: all 0.1s linear;
                z-index: 2;
                @include media(maxTablet) {
                  opacity: 1;
                  font-size: 2rem;
                }
                &:hover {
                  opacity: 1;

                  ~ .card--image {
                    padding: 0;
                  }
                }
              }
              &--image {
                //padding:3rem;
                padding: 1.5rem;
                box-sizing: border-box;
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: all 0.1s linear;
                &:hover {
                  width: 10%;
                }
              }
            }
          }
        }
        &[data-anchor="resume"] {
          .jobContainer {
            padding: 3px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 3rem;
            max-width: 100%;
            overflow: visible;
            .job {
              max-width: 50rem;
              border: 1px solid black;
              border-radius: 25px;
              padding: 3rem 1.6rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              @include media(maxTablet) {
                width: 100%;
                max-width: unset;
              }
              align-items: center;
              &--title {
                font-size: 2rem;
                margin: 0;
                text-align: center;
                @include media(maxTablet) {
                  font-size: 1.6rem;
                }
              }
              &--dates {
                font-size: 1.8rem;
                margin: 0;
                font-style: italic;
                opacity: 0.5;
              }
              &--skillTitle,
              &--respTitle {
                margin: 0;
                font-size: 1.8rem;
                margin-top: 1.6rem;
                @include media(maxTablet) {
                  display: none;
                }
              }

              &--skillContainer {
                display: flex;
                font-size: 1.6rem;
                flex-wrap: wrap;

                @include media(maxTablet) {
                  display: none;
                }
                .job--skill {
                  padding: 1rem;
                  margin-top: 1.6rem;
                  border: 1px solid $color-purple-d;
                  margin-right: 1rem;
                  border-radius: 0.8rem;
                }
              }
              &--skillTitle,
              &--skillContainer {
                display: none; //temporary
              }
              &--navSkill,
              &--navResp {
                width: calc(100% + 2px);
                text-align: center;
                font-size: 1.2rem;
                text-transform: uppercase;
                background-color: rgba($color-purple-d, 0.7);
                color: white;
                padding: 0.5rem 0;
                position: absolute;
                bottom: -26px;
              }
              &--navResp {
                bottom: -51px;
                background-color: $color-purple-d;
              }
              &--respContainer {
                margin: 1.6rem 0 0;
                padding-left: 2rem;
                display: none; //temporary
              }
              &--respTitle {
                display: none; //temporary
              }
              &--resp {
                font-size: 1.6rem;
                margin-bottom: 1.6rem;
                margin-left: 0;
              }
            }
          }
        }
        &.pg-active {
          &[data-anchor="contact"] {
            .contactContainer {
              > div {
                height: 100%;
              }
            }
          }
        }
        &[data-anchor="contact"] {
          .contactContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            max-width: unset;
            align-items: center;
            > div {
              width: 33.33%;
              height: 0;
              transition: height 0.1s linear;
              display: flex;
              align-items: center;
              justify-content: center;

              svg {
                width: 10vw;
                height: 10vw;

                path {
                  fill: $color-purple-d;
                  transition: all 0.1s linear;
                }
                &:hover {
                  path {
                    fill: $color-blue-d;
                  }
                }
              }
              &.contact--github {
                background-color: rgba($color-purple-d, 0.1);
                transform: skew(-30deg);
                > * {
                  transform: skew(30deg);
                }
              }
              &.contact--linkedin {
                background-color: rgba($color-purple-d, 0.1);
                transform: skew(-30deg);
                > * {
                  transform: skew(30deg);
                }
                svg {
                  path:last-of-type {
                    fill: #d4c8e5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
