@mixin media($breakpoint) {
  @if $breakpoint==minDesktopLarge {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  }
  @if $breakpoint==maxDesktopMed {
    @media only screen and (max-width: 1919px) {
      @content;
    }
  }
  @if $breakpoint==minDesktopMed {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
  @if $breakpoint==maxDesktopSmall {
    @media only screen and (max-width: 1439px) {
      @content;
    }
  }
  @if $breakpoint==maxDesktopExtraSmall {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint==minDesktopSmall {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint==maxTablet {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }
  @if $breakpoint==minTablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==maxMobile {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint==mobile {
    @media only screen and (max-width: 420px) {
      @content;
    }
  }
  @if $breakpoint==mobileSmall {
    @media only screen and (max-width: 374px) {
      @content;
    }
  }
}

$color-purple-d: #120c1a;
$color-purple-l: #EADEFC;
$color-blue-l: #C4D0FD;
$color-blue-d: #364371;


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes cursor {
  from, to { border-color: transparent }
  50% { border-color: rgba($color-purple-d, .2);  }
}
@keyframes flyin-left {

  to {left:0;}
}
@keyframes flyin-right {
  to { right:0;}
}
@keyframes hide {
  to {opacity:0;}
}
